<div id="friends-panel" class="content-card">

    <div class="content-header">
        <h2>Dodaj prijatelja</h2>
    </div>

    <form
        class="friend-form"
        hx-post="/friends"
        hx-target="#friends-panel"
        hx-swap="outerHTML"
    >
        <input
            type="text"
            name="username"
            placeholder="Uporabniško ime"
            required
        >

        <button
            type="submit"
            class="primary-button"
        >
            Dodaj
        </button>

        <button
            type="button"
            class="secondary-button"
            hx-get="/tabs/friends"
            hx-target="#friends-panel"
            hx-swap="outerHTML"
        >
            Prekliči
        </button>
    </form>

</div>